    <div style="color: #394c40; text-decoration: underline;">
        <h1>Quentin Civiale - Étudiant en développement Web</h1>
    </div>
    <div>
        <h2 style="color: #394c40;">Demande de contact de la part de
            <span style="color: #CA8445;font-style: italic;">
                {{ contact.firstname }} {{ contact.lastname }}
            </span>
        </h2>
        <h3 style="color: #394c40;">
            Cette nouvelle personne souhaiterais obtenir plus d'informations à propos de :
            <strong style="color: #CA8445;"> {{ contact.subject }}</strong>
        </h3>
    </div>

    <br/>
    <hr/>
    <br/>

    <div style="background-color: #394c40; color: white;border-radius: .25rem;padding: 5px;">
        <h2 style="color: white;">Votre interlocuteur et son message : </h2>
        <div style="margin-left: 45px">
            <p><strong>Prénom et nom : </strong>{{ contact.firstname }} {{ contact.lastname }}</p>
            <p><strong>Email :
                </strong><strong style="color: #CA8445 !important;text-decoration: none !important;">
                    {{ contact.email }}
                </strong>
            </p>
            <p><strong>Message : </strong></p>
            <p style="font-style: italic">" {{ contact.message }} "</p>
        </div>
    </div>

    <br/>

    <div>
        <h3 style="color: #394c40;">
            Message provenant du site
            <a href="{{ url('general_homepage')}}" style="text-decoration: none;color: #CA8445;" title="aller sur le site">
                quentin-civiale.fr
            </a>
        </h3>
    </div>